.Contact-details-container {
    height    : 500px;
    margin-top: 30px;

    .Contact-details-content {
        margin     : 0 50px;
        display    : flex;
        align-items: center;

        .content-left {
            width: 50%;

            span {
                font-size     : 13px;
                text-transform: uppercase;
                font-weight   : bold;

            }

            h2 {
                font-size  : 40px;
                line-height: 35px;
                padding    : 20px 0;
                margin     : 0;
            }

            h3 {
                font-size     : 26px;
                line-height   : 35px;
                padding-top   : 20px;
                padding-bottom: 20px;
                margin        : 0;
            }

            li {
                list-style : none;
                display    : flex;
                padding    : 15px 0;
                align-items: center;

                i {
                    text-align   : center;
                    font-size    : 16px;
                    padding-right: 22px;
                }

                p {
                    margin   : 0;
                    font-size: 14px;
                }
            }
        }

        .content-right {
            width: 50%;
        }
    }
}