.section-product {
    width: 100% !important;
    height: auto !important;
    padding: 20px 0;

    .container {
        width: 1470px;
        max-width: 100% !important;
        height: 100%;
        min-height: 100vh;
        padding: 0 10px;
        display: flex;
        flex-direction: column;


        .product-header {

            .section-title {
                position: relative !important;
                z-index: 10;
                min-width: 50%;
                display: block;
                font-weight: 700;
                color: #1d1d1d;
                line-height: 100px;
                text-transform: uppercase;
                margin: 0;

                a {
                    font-weight: 700;

                }
            }
        }

        .product-list {
            text-align: center;
            padding: 20px;
            display: grid;
            column-gap: 1%;
            grid-template-columns: 19.2% 19.2% 19.2% 19.2% 19.2%;
            row-gap: 10px;
            background-color: #f3f3f3;
            border-radius: 10px;


            .list-container {
                display: block;

                .item {
                    position: relative;
                    background-color: #f5f5f5;
                    border-radius: 10px;
                    text-align: center;
                    background-color: rgba(200, 199, 199, 0.333);

                    .list-detail {
                        margin-bottom: 0;
                        position: relative;
                        min-height: 60px;
                        padding: 10px 10px;
                        text-align: left;

                        .title {
                            font-size: 17px;
                            font-weight: 700;
                            text-decoration: none;
                            text-align: left;
                            line-height: 1.3em;
                            height: 44px;
                            margin-bottom: 10px;
                            color: black;
                            overflow: hidden;
                            display: block;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            text-overflow: ellipsis;
                            white-space: normal;
                        }

                        a:hover {
                            color: #FED700 !important;
                        }

                    }

                    .price {
                        font-weight: 700;
                        display: block;
                        font-size: 15px;
                        color: #313131;
                        height: 45px;
                        font-weight: bold;

                        .old-price {
                            display: block;
                            color: #7a7a7a;
                        }
                    }

                    .star i {
                        color: #f0cd1d;
                    }

                    img {
                        z-index: 1;
                        object-fit: contain;
                        padding-top: 20px;
                        width: 90%;
                        height: 100%;
                        box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.1);
                    }

                    .product-label-group {
                        position: absolute;
                        top: 0px;
                        left: -6px;
                        text-align: left;
                        display: inline-block;
                        width: 75px;
                        height: auto;
                        z-index: 100;
                        color: #ffff;

                        .product-label {
                            position: relative;
                            background-color: #fed700;
                            width: 100%;
                            height: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 6px;
                            border-radius: 3px 3px 3px 0;

                            &::after {
                                content: "";
                                position: absolute !important;
                                left: 0;
                                bottom: -6px;
                                border-top: 6px solid #fed700;
                                border-left: 6px solid transparent;
                            }
                        }

                        .product-label-sale {
                            position: relative;
                            background-color: #CF5050;
                            width: 100%;
                            height: auto;
                            margin-top: 6px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 6px;
                            border-radius: 3px 3px 3px 0;

                            &::after {
                                content: "";
                                position: absolute !important;
                                left: 0;
                                bottom: -6px;
                                border-top: 6px solid #CF5050;
                                border-left: 6px solid transparent;
                            }
                        }

                    }
                }
            }
        }
    }
}

@media only screen and (max-width:46.1875em) {}

@media only screen and (min-width:46.25em) and (max-width:63.9375em) {}