.doctor-detail-container {
    height: 500px;
    border: 1px solid red;

    .intro-doctor {
        display: flex;
        height: 100px;

        .content-left {
            width: 30%;
            border: 1px solid green;
        }

        .content-right {
            width: 70%;
            border: 1px solid green;
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up {
                font-size: 20px;
                font-weight: bold;
            }

            .down {
                padding-top: 10px
            }
        }
    }

}