.productSale-container {
    width  : 100% !important;
    height : 560px !important;
    padding: 20px 43px;

    .product-header {

        .section-title {
            position      : relative !important;
            z-index       : 10;
            min-width     : 50%;
            display       : block;
            font-weight   : 700;
            color         : #1d1d1d;
            line-height   : 100px;
            text-transform: uppercase;
            margin        : 0;
        }
    }

    .productHot-content {
        height   : 330px;
        // border: 1px solid black !important;

        .slick-list {
            background: #fff;
        }

        .slick-slide {
            padding-left : 10px;
            padding-right: 10px;
        }

        .img-customize {
            position        : relative !important;
            border-radius   : 10px;
            height          : 400px;
            border          : 1px solid #fff;
            background-color: rgba(200, 199, 199, 0.333);
            // margin: 10px 0;

            img {
                z-index            : 1;
                object-fit         : initial;
                width              : 100%;
                height             : 60%;
                padding            : 20px 20px 0 20px;
                background-repeat  : no-repeat;
                background-size    : contain;
                background-position: center center;
            }

            .list-detail {
                margin-bottom: 0;
                position     : relative;
                min-height   : 60px;
                padding      : 10px 20px;
                text-align   : left;

                .title {
                    font-size         : 17px;
                    font-weight       : 700;
                    text-decoration   : none;
                    text-align        : left;
                    line-height       : 1.3em;
                    height            : 44px;
                    margin-bottom     : 10px;
                    color             : black;
                    overflow          : hidden;
                    display           : block;
                    display           : -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    text-overflow     : ellipsis;
                    white-space       : normal;
                }

                a:hover {
                    color: #FED700 !important;
                }
            }

            .price {
                font-weight: 700;
                display    : block;
                font-size  : 15px;
                color      : #313131;
                height     : 45px;
                font-weight: bold;

                .old-price {
                    display: block;
                    color  : #7a7a7a;
                }
            }

            .star i {
                color: #f0cd1d;
            }

            .product-label-group {
                position  : absolute;
                top       : 0px;
                left      : -6px;
                text-align: left;
                display   : inline-block;
                width     : 75px;
                height    : auto;
                z-index   : 100;
                color     : #ffff;

                .product-label {
                    position        : relative;
                    background-color: #ed7207;
                    width           : 100%;
                    height          : auto;
                    display         : flex;
                    justify-content : center;
                    align-items     : center;
                    padding         : 6px;
                    border-radius   : 3px 3px 3px 0;

                    &::after {
                        content    : "";
                        position   : absolute !important;
                        left       : 0;
                        bottom     : -5px;
                        border-top : 5px solid #ed7207;
                        border-left: 5px solid transparent;
                    }
                }

                .product-label-sale {
                    position        : relative;
                    background-color: #CF5050;
                    width           : 100%;
                    height          : auto;
                    margin-top      : 6px;
                    display         : flex;
                    justify-content : center;
                    align-items     : center;
                    padding         : 5px;
                    border-radius   : 3px 3px 3px 0;

                    &::after {
                        content    : "";
                        position   : absolute !important;
                        left       : 0;
                        bottom     : -5px;
                        border-top : 5px solid #CF5050;
                        border-left: 5px solid transparent;
                    }
                }

            }

        }
    }
}