.verify-email-container {
    .info-booking {
        font-size     : 25px;
        font-weight   : bold;
        text-transform: uppercase;
        color         : red;
        text-align    : center;
        margin-top    : 50px;
    }
}